muleapp/src/main/mule/muleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="muleappFlow" doc:id="42eef266-04c0-4954-98ea-d998cd591b1c" >
		<http:listener doc:name="Listener" doc:id="7bf1d5c2-58e1-418b-88ec-eace938226cc" config-ref="HTTP_Listener_config" path="/app"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="eca318ec-9f03-43da-af78-aa9442796a10" />
	</flow>
</mule>
